Web_Technologies_lab/XML/student.dtd

<!ELEMENT student (student-info*)>
<!ELEMENT student-info (name,rollno,address)>
<!ELEMENT name (#PCDATA)>
<!ATTLIST name gender CDATA 'Male'>
<!ATTLIST name gender (M|F) "M">
<!ELEMENT rollno (#PCDATA)>
<!ELEMENT address (city,contact-no)>
<!ELEMENT city (#PCDATA)>
<!ATTLIST city pin CDATA #IMPLIED>
<!ELEMENT contact-no (#PCDATA)>
